body {

   padding: 0%;
   background:rgb(252, 238, 238);
   margin-top: 20px;
}
header { 
    
    position: fixed;
    background-color: rgb(50, 6, 59);
    width: 100%; 
    height: 7%;
    left: 0%;
    top: 0%; 
     }
.head-div{
      display: flex; 
    }

.h4-head { 
    display: flex;
    left: 0%;
    color:aliceblue
}

.container-input { 
  
    position:fixed;
    left: 40%;
    top: 2%;
    border-radius: 40PX;
    width: 20%; 
    height: 5%; 
}
.head-redes-face { 
    width: 18px;
    position: absolute;
    left: 94%;
    top: 30%;
         
    }
    
.redes-whatsapp {
    width: 20px;
    position: absolute;
    left: 96%;
    top: 30%;

}
.header-contenedor{
  display: flex; 
}
.logo {
  position: absolute;
    width: 10%;
    height: 80%;
    top: 100%;
    border-radius: 40PX;
}
nav {

    width: 100%; 
    position: fixed;
 
       
}


.carro-compra {
  width: 25px;
  position: absolute;
  left: 80%;
  top: 140%;
}


.uni {
        display: flex;
        width: 100%;
        top:18%;
        align-items: flex-end;
        
    
  }


.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 35%;
    background-color: rgb(226, 230, 230);
    top: 70px;
    left: 30%;
    border-radius: 40px;
  }

.nav-ul-li{
    float: left;
    position: relative;
    font-size: 15px;
    
}
/*   */
.nav-ul-li-a {
    
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #070707;
    
}
/* Subraya el menu Principal  */
.nav-ul-li-a:hover{
    text-decoration:underline; 
            
}

.ulsecundario{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    padding: 0;
    
    
}
.lisecundario {
    float: none;
    width: 200px;
    list-style: none;
    text-decoration: none;
}

.asecundario{
    text-decoration: none;
    color:black;
    display: block;
    
    
}
.nav-ul-li:hover > ul {
    display: block;
    background-color:bisque;
    display: block;
    
    line-height: 40px;
    
    color: #070707;
}
.container-video1{
  margin-top: 120px;
  display: block;
}
.video1{
    width: 100%;
    height: 50%;
    left: 500px;
    margin-top: 100px;
    display: block;
   
  }
   
  .contenedor{
   
    display: flex;
  }
  .div-envios{
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
  }
  .envios{
    display: flex;
    
    margin: 10px;
  }
  #footer-dir{
     
    margin-top: 10%;
    color: white;
    background-color: rgb(7, 6, 59);
    width: 100%;
    
  }
  .div-contacto{
    margin-left: 18%;
    display: flex;
  }
  .div-contacto-div{
    padding: 15px;;
  }
  .iframe-mapa{
    width: 1000px;
    height: 200px;
    margin-left: 18%;
    border-top: 0px;
    border-left: 0px;
    
}
iframe{
  width: 700px;
  height: 400px;
  margin-left: 8%;
  border-top: 0px;
  border-left: 0px;
  
}
.imagen-contacto{
  background-repeat: no-repeat;
  background-image: url(/Image/imaencontacto.PNG);
  margin: 125px;
  
}  
.h1-contacto{
  height: 300px;
  color:rgb(82, 72, 72);
  padding: 0px;
  margin-left: 200px;
  margin-left: 250px;  
}
.form-contacto{
  width: 28%;
  margin-top: 0%;
  margin-left: 15%;
  margin-bottom: 7%;
  border-radius: 7px;
  border: solid rgb(199, 144, 194);
  border-width: 2px;

  font-family: 'Roboto', sans-serif;
}


.texto{
  text-align: justify;
  margin-bottom: 7%;
  color: rgb(7, 6, 6);
}
.texto-blanco{
  color: rgb(167, 162, 162);
}
form>input{
    width: 80%;
    margin-bottom: 5%;
    padding: 15px;
    border-radius: 15px;
    border-color: rgb(71, 91, 128);
    border-left-style: none;
    border-top-style: none;
    border-right: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
   
}
form>button{
  background-color: blueviolet;
  color: white;
  padding: 15px;
  width: 95%;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: rgb(250, 250, 252);
  box-shadow:5px 5px 5px cornflowerblue ; 
}
form>button:hover{
  
  width: 100%;
  background-color: rgb(236, 17, 200);
}
form>label{
  font-size: 15px;
  color:rgb(168, 154, 154);
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 5%;
}
  textarea{
    max-width: 80%;
    max-height: 250px;
    min-width: 70%;
    min-height: 150px;
    border: none;
    
  }
  .table-thead{
    background-color: #cf99b9;
  }
  .video-form{
    display: flex;
  }
  .pie-pagina{
    position:fixed;
    text-align: center;
    bottom: 0%;
    background-color: rgb(233, 230, 226);
    height: 15%;
    display: flex;
  }
  P{
    size: 10px;
  }