body {
   margin: 0%;
   padding: 0%;
   background:rgb(238, 234, 234);
}
header { 
    display: flex; 
    position: fixed;
    background-color: rgb(50, 6, 59);
    width: 100%; 
    height: 7%;
    left: 0%;
    top: 0%; 
     }

.h4-head { 
    display: flex;
    left: 0%;
    color:aliceblue
}

.container-input { 
    position: fixed;
    left: 40%;
    top: 2%;
    border-radius: 40PX;
    width: 20%; 
    height: 5%; 
}
.head-redes-face { 
    width: 18px;
    position: absolute;
    left: 94%;
    top: 30%;
         
    }
    
.redes-whatsapp {
    width: 20px;
    position: absolute;
    left: 96%;
    top: 30%;

}

nav {
    background-color: white;
    width: 100%; 
    position: fixed;
    z-index: 100;
       
}

.logo {
    width: 75%;
    
}


  .uni {
        display: flex;
        width: 100%;
        top:7%;
        align-items: flex-end;
    
  }

  .carro-compra {
    width: 25px;
    position: absolute;
    left: 96%;
    top: 40%;
  }
  
  

.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 35%;
}

.nav-ul-li{
    float: left;
    position: relative;
    font-size: 15px;
}
/*   */
.nav-ul-li-a {
    
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    
}
/* Subraya el menu Principal  */
.nav-ul-li-a:hover{
    text-decoration:underline; 
            
}

.ulsecundario{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
        padding: 0;
}
.lisecundario {
    float: none;
    width: 200px;
    list-style: none;
    text-decoration: none;
}

.asecundario{
    text-decoration: none;
    color:black;
    
}
.nav-ul-li:hover > ul {
    display: block;
    
    background-color:bisque;
}
.video1{
    width: 100%;
    height: 50%;
    left: 500px;
    top: 17%;
   
  }
   
  .contenedor{
   
    display: flex;
  }
  .div-envios{
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
  }
  .envios{
    display: flex;
    
    margin: 10px;
  }
  #footer-dir{
     
    margin-top: 10%;
    color: white;
    background-color: rgb(7, 6, 59);
    width: 100%;
    
  }
  .div-contacto{
    margin-left: 18%;
    display: flex;
  }
  .div-contacto-div{
    padding: 15px;;
  }
  iframe{
    width: 1000px;
    height: 200px;
    margin-left: 18%;
    border-top: 0px;
    border-left: 0px;
    
}
  