body {

   padding: 0%;
   background:rgb(252, 238, 238);
   
}
header { 
    position: fixed;
    background-color: rgb(50, 6, 59);
    width: 100%; 
    height: 7%;
    left: 0%;
    top: 0%; 
     }
.head-div{
      display: flex; 
    }

.h4-head { 
     
    left: 60px;
    top: 8%;
    color:aliceblue
}

.container-input { 
  
    position:fixed;
    margin-left: 2%;
    top: 1%;
    border-radius: 40px;
    width: 20%; 
    height: 5%; 
}
.divbuscar{
   margin-left: 22%;
}
.imgbuscar {
  
  width: 60%;
  height: 4%;
  
 }

.fa-search{
  color: #555555;
  margin-right: 10%;
  border-radius: 45px;
  cursor: pointer;
  margin-top: 12%;
  display: flex;
  width: 30%;
    
}
.head-redes-face { 
    width: 1.5%;
    position: absolute;
    left: 92%;
    top: 30%;
         
    }
    
.redes-whatsapp {
    width: 20px;
    position: absolute;
    left: 96%;
    top: 30%;

}
.header-div-logo-carro-compra{
   
    width: 100%;
    height: 85px;
    margin-top: 10px;
    background-color: rgb(217, 217, 224);
}
.header-contenedor{
  display: flex; 
}
.logo {
  position: absolute;
    width: 10%;
    height: 80%;
    top: 100%;
    border-radius: 40PX;
}
nav {

    width: 100%; 
    position: fixed;
 
       
}


.carro-compra {
  width: 25px;
  position: absolute;
  left: 80%;
 margin-top: 2%;
}


.uni {
        display: flex;
        width: 100%;
        top:18%;
        align-items: flex-end;
        
    
  }


.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 35%;
    background-color: rgb(217, 217, 224);
    top: 70px;
    left: 30%;
    border-radius: 40px;
  }

.nav-ul-li{
    float: left;
    position: relative;
    font-size: 15px;
    
}
/*   */
.nav-ul-li-a {
    
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #070707;
    
}
/* Subraya el menu Principal  */
.nav-ul-li-a:hover{
    text-decoration:underline; 
            
}
.asecundario:hover{
  text-decoration:underline; 
  background-color: #2e518b;        
}

.ulsecundario{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    padding: 0;
    
    
}
.lisecundario {
    float: none;
    width: 200px;
    list-style: none;
    text-decoration: none;
}

.asecundario{
    text-decoration: none;
    color:black;
    display: block;
    
    
}
.nav-ul-li:hover > ul {
    display: block;
    background-color:rgb(105, 104, 103);
    display: block;
    line-height: 40px;
    color: #070707;
}

.container-video1{
  
  margin-top: 6%;
  margin-bottom: 5%;
  width: 100%;
  position: relative;
  z-index: -1;
  
}
.div-abajo{
  padding-left: 50%;
  margin-top: -10%;
}
.imagen-abajo{
  
  width: 33px;
  background-color: aqua;
  border-radius: 45px;
  margin-top: 5px;   
}
.divmostrarinfo{
  margin-top: 7%;
  position: fixed;
}
.section-divvideo{
  
 
 margin-bottom: 0%;
 
}
.video1{
   
  width: 100%;
  height: 70%;
  
   
  }
   
  .contenedor{
   
    display: flex;
    width: 1500px;
    margin-bottom: 100px;
    margin-top: 25px;
  }
 
  .contenedor-imagen-bolsos{
    
    width: 35%;
    height: 30%;
      
    
  }
  .tamaño-imagen{
    width: 100%;
    margin: 5%;
  }
  .contenedor-imagen-bolsos1{
    float: right;
    width: 65%;
   
    left: 500px;
    margin-left: 20px;
    
  }
  .tamaño-imagen3{
    width: 85%;
    height: 100%;
    margin: 2%;
     
  }
  .div-envios{
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
  }
  .envios{
    display: flex;
    
    margin: 10px;
  }
  #footer-dir{
     
    margin-top: 10%;
    color: white;
    background-color: rgb(7, 6, 59);
    width: 100%;
    height: 300%;
    
    
  }
  .div-contacto{
    margin-left: 18%;
    display: flex;
  }
  .div-contacto-div{
    padding: 15px;;
  }
  iframe{
    width: 1000px;
    height: 200px;
    margin-left: 18%;
    border-top: 0px;
    border-left: 0px;
    
}
  
.boton {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 5px; /*espacio alrededor texto*/
  background-color: #383537; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  /*border-radius: 50px; bordes redondos*/
  margin-left: 7%;
  }
  .niños-cajas{
    display: flex;
    height: 100%;
  }
  
  .img-niños1{
    width: 90%;
    height: 327px;
    border-radius: 60px;
  }
  .pniños-sup{
    margin-left: 20%;
    margin-bottom: 0;
    font-size: 20px;
  }
  .pniños-inf{
    margin-left: 10%;
    margin-top: 0;
    font-size: 20px;
  }
  
  .niños-cajas-div1{
    margin-right: 10px;
    width: 25%;
    height: 50%;
    padding: 0px;
  }
  .pie-pagina{
    position:fixed;
    text-align: center;
    bottom: 0%;
    background-color: rgb(233, 230, 226);
    height: 15%;
    display: flex;
    width: 100%;
  }
  P{
    size: 10px;
    
    
  }
  .h2-mm{
    margin-bottom: 0px;
    padding: 0px;
  }
  